<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THANKS</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .thanks{
         text-align: center;   
         margin-top: 15%;
         font-size: 35px;
        }
        .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 46%;
  }
    </style>
</head>
<body>
   <p class="thanks"><b>THANKING TO CONNECTING WITH TYAGI MOTORS!!!!!!!</b></p>
<form action="/" method="GET">
<button type="submit" class="btn btn-primary">HOME PAGE</button>
</form> 
</body>
</html>